.caixa_cadastro {
    background-color: white;
    width: 400px;
    height: 400px;
    color: #32b9cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.caixa_cadastro h1 {
    font-size: 30px;
}

.cadastro {
    display: flex;
    flex-direction: column;
    width: 200px;
    
}

.cadastro button {
    margin-top: 10px;
    background: #32b9cd;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 120px;
    align-self: center;
}

.cadastro input{
    padding: 10px 15px;
    text-align: center;
    border: 2px solid rgb(123, 92, 216);
    border-radius: 10px;
}